<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kate Scott - Curriculum Vitae</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="description" content="Kate Scott">
  </head>
  <body>
    <article>
      <header>
        <img src="/images/banner.jpg" alt="" />
        <h1>Kate Scott</h1>
        <h2><i>Curriculum Vitae</i></h2>
        <p><a href="http://imagesfromamericanhistory.com/">Blog</a> &bull; <a href="http://imagesfromamericanhistory.com/contact/">Contact</a>
        • <a href="http://support.rutgers.edu/s/896/Foundation/GiveStories.aspx?sid=896&amp;gid=1&amp;pgid=4876">Press</a>
        </p>
      </header>
      <h2>Education</h2>
      <ul class="dated-list titled">
        <li>
          <div class="title">Ph.D.</div>
          <div class="date">2014</div>
          <div class="text">
            Rutgers University, New Brunswick, New Jersey
            <br>Ph.D. with curatorial certificate expected fall 2014
            <br>Dissertation: “The Photography of Absence: Mortality as Subject Matter in Postmodern American Art Photography”
            <br>Concentrations: American Art, History of Photography
          </div>
        </li>
        <li>
          <div class="title">M.A.</div>
          <div class="date">2012</div>
          <div class="text">
            Rutgers University, New Brunswick, New Jersey
            <br>Thesis: “Spiral Jetties”
          </div>
        </li>
        <li>
          <div class="title">B.A.</div>
          <div class="date">2007</div>
          <div class="text">
            Indiana University-Purdue University Indianapolis,
Indianapolis, Indiana
            <br>Thesis: “The Making of Identity in Robert Frank’s <i>The Americans</i>”
          </div>
        </li>
        <li>
          <div class="title">B.F.A.</div>
          <div class="date">2005</div>
          <div class="text">
            Rochester Institute of Technology, Rochester, New York
            <br>Concentration: Photojournalism
          </div>
        </li>
      </ul>
      <h2>Professional Experience</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2013</div>
          <div class="text">
            Curatorial Intern, Newark Museum, Newark, New Jersey
            <ul>
              <li>conducted research and produced interpretive materials for the museum’s collections of nineteenth- and twentieth-century American art, including “The Garden State Tour,” an audio tour focusing on New Jersey state history</li>
              <li>researched and documented new acquisitions</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2011-13</div>
          <div class="text">
            Graduate Curatorial Assistant, Zimmerli Art Museum at Rutgers
            <ul>
              <li>worked on curatorial, research, publishing, and educational projects in conjunction with the American gallery</li>
              <li>assisted in the realization of special exhibitions such as <i>Striking Resemblance: The Changing Art of Portraiture</i> (2014), <i>Rachel Perry Welty 24/7</i> (2012), and <i>at/around/beyond: Fluxus at Rutgers</i> (2011)</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2012</div>
          <div class="text">
            Mellon Intern, Zimmerli Art Museum at Rutgers
            <ul>
              <li>assessed the condition of the museum’s American paintings, made recommendations for care, and entered updated information into the museum’s TMS database</li>
            <li>researched artists, subjects, and provenance of assessed works</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2011</div>
          <div class="text">
            Part-Time Lecturer, Rutgers University
            <ul>
              <li>taught an undergraduate survey of Western art and architecture from the Renaissance to the present</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2009-11</div>
          <div class="text">
            Recitation Instructor, Rutgers University
            <ul>
              <li>taught recitation sections of the undergraduate survey of Western art and architecture from antiquity to the present</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2004-05</div>
          <div class="text">
            Managing Editor, Reporter weekly magazine, Rochester Institute of Technology
            <ul>
              <li>was responsible for content, copy editing, and the management of writing staff</li>
            </ul>
          </div>
        </li>
      </ul>
      <h2>Grants, Fellowships, and Awards</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2011</div>
          <div class="text">
            Rutgers University Conference Travel Grant
          </div>
        </li>
        <li>
          <div class="date">2011</div>
          <div class="text">
            Rutgers University Research Grant
          </div>
        </li>
        <li>
          <div class="date">2008</div>
          <div class="text">
            Best Paper, “Space, Place, and Imagination” conference
          </div>
        </li>
        <li>
          <div class="date">2007-09</div>
          <div class="text">
              Rutgers University Graduate Fellowship
            </div>
          </li>
        <li>
          <div class="date">2007</div>
          <div class="text">
            Mildred Darby Menz Award, Indiana University-Purdue University Indianapolis
          </div>
        </li>
        <li>
          <div class="date">2007</div>
          <div class="text">
            The Feminist Future Symposium Travel Scholarship, Museum of Modern Art
          </div>
        </li>
        <li>
          <div class="date">2006</div>
          <div class="text">
            Indiana University-Purdue University Indianapolis Research Grant
          </div>
        </li>
        <li>
          <div class="date">2002</div>
          <div class="text">
            Walker Writing Prize, Cleveland Institute of Art
          </div>
        </li>
      </ul>
      <h2>Selected Publications</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2013</div>
          <div class="text">
            <i>Images from American History</i>. Art and visual culture blog, founded 21 September 2013.
            <br /><a href="http://www.imagesfromamericanhistory.com/">http://www.imagesfromamericanhistory.com/</a>
          </div>
        </li>
        <li>
          <div class="date">2013</div>
          <div class="text">
            “Phantoms and Frauds: The History of Spirit Photography.” <i>OUPblog: Oxford University Press’s Academic Insights for the World</i>, October 29, 2013.
            <br /><a href="http://blog.oup.com/2013/10/history-spirit-photography/">http://blog.oup.com/2013/10/history-spirit-photography/</a>
          </div>
        </li>
        <li>
          <div class="date">2013</div>
          <div class="text">
            <i>Benezit Dictionary of Artists</i>. New York: Oxford Art Online, 2012. s.v. “Clara Driscoll,” “Peter Hujar,” “Annie Leibovitz,” “Sally Mann,” “Andres Serrano,” “Micah Williams,” and “Francesca Woodman.”
          </div>
        </li>
        <li>
          <div class="date">2008</div>
          <div class="text">
            “Robert Indiana” and “Jasper Johns.” In <i>Pop Art and After: Prints + Popular Culture</i>, edited by Marilyn Symmes, 40-43 and 44-46. New Brunswick: Zimmerli Art Museum at Rutgers, 2008.
          </div>
        </li>
      </ul>
      <h2>Editorial</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2014</div>
          <div class="text">
            Publication Assistant, <i>Striking Resemblance: The Changing Art of Portraiture</i>. Donna Gustafson, Susan Sidlauskas, and Lee Siegel. New York: Prestel.
            <ul>
              <li>assembled checklists, tracked image permissions, and assisted with copy editing</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2013</div>
          <div class="text">
            Publication Coordinator, <i>Not About Face</i> (e-book). New Brunswick, New Jersey: Zimmerli Art Museum at Rutgers University.
            <ul>
              <li>assembled checklists, tracked image permissions, and assisted with copy editing</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2010</div>
          <div class="text">
            Co-Editor, <i>Rutgers Art Review</i> 26, Rutgers University.
            <ul>
              <li>managed and edited submissions, conducted editorial board meetings, and liaised with writers and publisher</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="date">2004–05</div>
          <div class="text">
            Managing Editor, <i>Reporter</i> weekly magazine, Rochester Institute of Technology.
            <ul>
              <li>(see entry under “Professional Experience”)</li>
            </ul>
          </div>
        </li>
      </ul>
      <h2>Recent Exhibitions</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2014</div>
          <div class="text">Curator, <i>In the Studio: Photographing George Segal at Work</i>, Zimmerli Art Museum at Rutgers</div>
        </li>
        <li>
          <div class="date">2012</div>
          <div class="text">Co-Organizer, <i>Rachel Perry Welty 24/7</i>, Zimmerli Art Museum at Rutgers</div>
        </li>
      </ul>
      <h2>Conferences</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2013</div>
          <div class="text">Southeast College Art Conference Annual Conference, Greensboro, North Carolina
            <br>Session chaired: “What People Wore[?]: Social Art History through Fashion”
          </div>
        </li>
        <li>
          <div class="date">2013</div>
          <div class="text">Midwest Art History Society Annual Conference, Columbus, Ohio
            <br>Paper: “A Knife to the Eye: Truth by Sight in Ammi Phillips’ <i>Peter Guernsey, the Eye Doctor</i>”
          </div>
        </li>
        <li>
          <div class="date">2011</div>
          <div class="text">Southeastern College Art Conference Annual Conference, Savannah, Georgia
            <br>Paper: “Picturing Desire: The Self and the Other in the Still Lifes of JoAnn Verburg and Joel-Peter   Witkin”
          </div>
        </li>
        <li>
          <div class="date">2009</div>
          <div class="text">Rutgers University Art History Graduate Student Symposium
            <br>Paper: “Orientalism and the Feminist Gaze in <i>Japanese Story</i>”
          </div>
        </li>
        <li>
          <div class="date">2008</div>
          <div class="text">“Space, Place, and Imagination” Conference, Kingston, Rhode Island
            <br>Paper: “The Bed as Nostalgia in Pepón Osorio’s <i>La Cama</i>.”
          </div>
        </li>
      </ul>
      <h2>Lectures</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2012</div>
          <div class="text">“Rachel Perry Welty 24/7,” Zimmerli Art Museum at Rutgers, New Brunswick, New Jersey</div>
        </li>

        <li>
          <div class="date">2011</div>
          <div class="text">“Parallel Practices: The Polymorphous Works of Robert Smithson and Matthew Barney,” Mason Gross School of the Arts, New Brunswick, New Jersey</div>
        </li>

        <li>
          <div class="date">2008</div>
          <div class="text">“Robert Indiana’s <i>American Dream #5 (The Golden Five)</i>,” Zimmerli Art Museum at Rutgers, New Brunswick, New Jersey</div>
        </li>
      </ul>
      <h2>Professional Service</h2>
      <ul class="dated-list">
        <li>
          <div class="date">2012</div>
          <div class="text">Moderator, <i>Not About Face</i> Symposium, Zimmerli Art Museum at Rutgers, New Brunswick, New Jersey</div>
        </li>

        <li>
          <div class="date">2009-10</div>
          <div class="text">Co-Chair, Rutgers Art History Faculty and Graduate Student Symposia, New Brunswick, New Jersey</div>
        </li>
      </ul>
      <h2>Professional Affiliations</h2>
      <ul>
        <li>Association of Historians of American Art, member since 2012</li>
        <li>College Art Association, member since 2007</li>
        <li>Midwest Art History Society, member since 2013</li>
        <li>Southeastern College Art Conference, member since 2011</li>
      </ul>
      <h2>Software Proficiency</h2>
      <ul>
        <li>Adobe Photoshop</li>
        <li>ARGUS</li>
        <li>Microsoft Office</li>
        <li>The Museum System</li>
      </ul>
      <h2>References</h2>
      <p>References available upon request.</p>
    </article>
  </body>
</html>
