<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kate Scott - Curriculum Vitae</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <meta name="description" content="Kate Scott">
</head>

<body>
  <article>
    <header>
      <img src="/images/banner.jpg" alt="" />
      <h1>Kate Scott</h1>
      <h2><i>Curriculum Vitae</i></h2>
      <p>
        <a href="http://imagesfromamericanhistory.com/">Blog</a>
        • <a href="mailto:mk.doriangray@gmail.com">Contact</a>
      </p>
    </header>
    <h2>Education</h2>
    <ul class="dated-list titled">
      <li>
        <div class="title">Ph.D. with curatorial certificate</div>
        <div class="date">2016</div>
        <div class="text">
          Rutgers University, New Brunswick, New Jersey
          <br>Art History with concentrations in American art and the history of photography
        </div>
      </li>
      <li>
        <div class="title">M.A.</div>
        <div class="date">2012</div>
        <div class="text">
          Rutgers University, New Brunswick, New Jersey
          <br>Art History
        </div>
      </li>
      <li>
        <div class="title">B.A.</div>
        <div class="date">2007</div>
        <div class="text">
          Indiana University-Purdue University Indianapolis, Indiana
          <br>Art History
        </div>
      </li>
      <li>
        <div class="title">B.F.A.</div>
        <div class="date">2005</div>
        <div class="text">
          Rochester Institute of Technology, Rochester, New York
          <br>Photojournalism
        </div>
      </li>
    </ul>

    <h2>Relevant Experience</h2>
    <ul class="dated-list">
      <li>
        <div class="date">2015–present</div>
        <div class="text">
          Assistant Reference Librarian, Indiana Historical Society
          <ul>
            <li>Research and respond to inquiries about Indiana history</li>
            <li>Assist patrons with academic and personal research</li>
            <li>Create library case exhibits featuring collections materials</li>
            <li>Write IHS blog posts</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2017–2020</div>
        <div class="text">
          Volunteer Judge, National History Day Indiana
        </div>
      </li>
      <li>
        <div class="date">2016</div>
        <div class="text">
          Contract Exhibitions Researcher, Indiana Historical Society
          <ul>
            <li>Researched and created a preliminary interpretive guide for the Camp Atterbury living history exhibition
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2015</div>
        <div class="text">
          Volunteer Storyteller, Riley Hospital for Children
          <ul>
            <li>Developed and performed original stories for Riley patients</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2014–15</div>
        <div class="text">
          Project Archivist, Indiana Historical Society
          <ul>
            <li>Surveyed and processed new manuscript and visual collections</li>
            <li>Created interpretive collection guides and finding aids</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2013</div>
        <div class="text">
          Curatorial Intern, Newark Museum, Newark, New Jersey
          <ul>
            <li>Produced a local history-themed audio tour for the museum’s American collection</li>
            <li>Conducted historical research on individual works</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2011–13</div>
        <div class="text">
          Graduate Curatorial Assistant, Zimmerli Art Museum at Rutgers, New Brunswick, New Jersey
          <ul>
            <li>Curated and aided in the production of exhibitions and programs</li>
            <li>Coordinated museum publishing projects</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2009-11</div>
        <div class="text">
          Instructor, Rutgers University, New Brunswick, New Jersey
          <ul>
            <li>Taught undergraduate art history courses</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2004-05</div>
        <div class="text">
          Managing Editor, <i>Reporter</i> weekly magazine, Rochester Institute of Technology, Rochester, New York
          <ul>
            <li>Responsible for co-managing approximately 30 writers, overseeing magazine content, and copy editing</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="date">2003-04</div>
        <div class="text">
          Leisure Editor, <i>Reporter</i> weekly magazine, Rochester Institute of Technology, Rochester, New York
          <ul>
            <li>Managed and recruited section writers, assigned stories, and copy edited section content</li>
          </ul>
        </div>
      </li>
    </ul>

    <h2>Publications</h2>
    <ul class="dated-list">
      <li>
        <div class="date">2017–present</div>
        <div class="text">
          Indiana Historical Society blog posts, including “Desperate for Pie” and “Airing Our Dirty Laundry,” available
          <a href="https://indianahistory.org/blog/desperate-for-pie/">here</a> and <a
            href="https://indianahistory.org/blog/airing-our-dirty-laundry/">here</a>.
        </div>
      </li>
      <li>
        <div class="date">2020</div>
        <div class="text">
          “Cheney Lively: A Black Woman on the Indiana Frontier” in <i>Traces of Indiana and Midwestern History</i>,
          vol. 32, no. 1 (spring 2020).
        </div>
      </li>
      <li>
        <div class="date">2013–14</div>
        <div class="text">
          <i>Images from American History</i> blog, available <a href="https://imagesfromamericanhistory.com/">here</a>.
        </div>
      </li>
      <li>
        <div class="date">2013</div>
        <div class="text">
          “Phantoms and Frauds: The History of Spirit Photography” on <i>OUPblog: Oxford University Press’s Academic
            Insights for the World</i>, available <a
            href="https://blog.oup.com/2013/10/history-spirit-photography/">here</a>.
        </div>
      </li>
    </ul>

    <h2>Lectures And Interviews</h2>
    <ul class="dated-list">
      <li>
        <div class="date">2020</div>
        <div class="text">
          “Les Hoosiers.” Podcast interview by Carrie Hardin for <i>You Talk Funny</i>, 7 October 2020, available <a
            href="https://podcasts.apple.com/us/podcast/les-hoosiers/id1529387012?i=1000493904936">here</a>, beginning
          at 11:00
        </div>
      </li>
      <li>
        <div class="date">2019</div>
        <div class="text">
          “Your Town Friday: Town Names That Make You Scratch Your Head,” News interview by Lindy Thackston of Fox 59,
          25 January 2019, available <a
            href="https://fox59.com/news/your-town-friday/your-town-friday-town-names-that-make-you-scratch-your-head/">here</a>
        </div>
      </li>
      <li>
        <div class="date">2017</div>
        <div class="text">
          “Why is Sugar Cream Pie So Popular in Indiana?” News interview by Barbara Brosher of WTIU/WFIU Bloomington, 22
          November 2017, available <a
            href="https://www.barbarabrosher.com/work/2017/11/22/why-is-sugar-cream-pie-so-popular-in-indiana/">here</a>
        </div>
      </li>
      <li>
        <div class="date">2017</div>
        <div class="text">
          “A Knife to the Eye: Practicing Medicine in Nineteenth-Century Art.” Lecture at the Indiana Medical History
          Museum, Indianapolis, Indiana
        </div>
      </li>
      <li>
        <div class="date">2015</div>
        <div class="text">
          “The Final Frontier: Edward Moran’s <i>The Valley in the Sea</i>.” Lecture at the Southeast College Art
          Conference, Pittsburgh, Pennsylvania
        </div>
      </li>
    </ul>

    <h2>Editorial</h2>
    <ul class="dated-list">
      <li>
        <div class="date">2014</div>
        <div class="text">
          Publication Assistant, <i>Striking Resemblance: The Changing Art of Portraiture</i>. Donna Gustafson, Susan
          Sidlauskas, and Lee Siegel. New York: Prestel.
        </div>
      </li>
      <li>
        <div class="date">2013</div>
        <div class="text">
          Publication Coordinator, <i>Not About Face</i> (e-book). New Brunswick, New Jersey: Zimmerli Art Museum at
          Rutgers University.
        </div>
      </li>
      <li>
        <div class="date">2010</div>
        <div class="text">
          Co-Editor, <i>Rutgers Art Review</i> 26, Rutgers University
        </div>
      </li>
    </ul>

    <h2>Exhibits</h2>
    <ul class="dated-list">
      <li>
        <div class="date">2020</div>
        <div class="text">
          <i>Forsyth’s Forests</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2020</div>
        <div class="text">
          <i>South Shore Line: Destinations of the 1920s</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2019</div>
        <div class="text">
          <i>Santaland, Indiana</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2019</div>
        <div class="text">
          <i>Richmond in Winter</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2019</div>
        <div class="text">
          <i>Pets and Their People</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2019</div>
        <div class="text">
          <i>Hogology</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2019</div>
        <div class="text">
          <i>How Does Your Garden Grow?</i> Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2018</div>
        <div class="text">
          <i>Season’s Greetings from Blanche Stillson</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2018</div>
        <div class="text">
          <i>The Indiana Historical Society Presents: Great Mustaches of Hoosier History</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2018</div>
        <div class="text">
          <i>To Your Health!</i> Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2018</div>
        <div class="text">
          <i>Migrant Family</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2018</div>
        <div class="text">
          <i>Metal Paper Glass: Nineteenth-century Photo Processes</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2017</div>
        <div class="text">
          <i>George Jo Mess: Indiana Printmaker</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2017</div>
        <div class="text">
          <i>Eat + Drink: Menus from IHS Collections</i>. Indiana Historical Society Library case exhibit
        </div>
      </li>
      <li>
        <div class="date">2015</div>
        <div class="text">
          Curator, <i>George Segal in Black and White</i>, Zimmerli Art Museum at Rutgers
        </div>
      </li>
      <li>
        <div class="date">2012</div>
        <div class="text">
          Co-Organizer, <i>Rachel Perry Welty 24/7</i>, Zimmerli Art Museum at Rutgers
        </div>
      </li>
    </ul>

    <h2>Skills and Abilities</h2>
    <ul>
      <li>Proficient researcher, particularly in the fields of nineteenth- and twentieth-century American history, Indiana history, general social history, art, material culture, and foodways </li>
      <li>Experienced in all aspects of planning, researching, and executing high-quality museum exhibitions and publications</li>
      <li>Experienced in collections management and artifact storage</li>
      <li>Experienced in maintaining a variety of filing systems and databases</li>
      <li>Thrives as part of a creative team, whether as a manager or participant</li>
      <li>Has exceptional communication abilities, including strong writing and editing skills, extensive public speaking experience, and a keen interest in accessibility</li>
      <li>Skilled at finding, building, and polishing stories so that they may be told in a clear and inviting way</li>
      <li>Actively embraces diversity and equity, and is sensitive to the multitude of experiences had by humans, particularly those identifying as LGBTQ+ </li>
      <li>Easily able to work closely with others in a friendly and diplomatic fashion</li>
    </ul>

    <h2>Professional Affiliations</h2>
    <ul>
      <li>National Council on Public History</li>
      <li>Society of American Archivists</li>
      <li>American Association of Museums</li>
    </ul>

    <h2>References</h2>
    <p>References available upon request.</p>
  </article>
</body>

</html>
